@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Train+One&display=swap');

* {
    font-family: 'Roboto', sans-serif !important;
}

.nav-bg {
    background: linear-gradient(90deg, #0065DB 0%, #00DFED 100%);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.login-btn,
.signup-btn {
    font-family: 'Train One', sans-serif !important;
    padding: 4px 0px !important;

    display: flex;
    justify-content: center;
    align-items: center;


    min-width: 200px;
    min-height: 27px;

    border: 1.5px solid #F5FCFF !important;
    border-radius: 20px !important;
    color: white !important;

    background: #FF8A00 !important;
    font-weight: 400;
    font-size: 20px !important;
}


.logo-pro,
.logo-fesh {
    color: white;

    font-family: 'Train One', sans-serif !important;
    font-size: 55px;
}

.logo-pro {
    color: #ffa724
}

.writing-btn,
.tailored-btn {
    width: 200px;

    border-radius: 20px !important;

    background: white !important;
    font-weight: 500 !important;
    font-size: 20px !important;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);

}
.writing-btn {

    color: #006BB9 !important;

}
.tailored-btn {

    color: #FF8A00 !important;

}