@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Train+One&display=swap');

* {
    font-family: 'Roboto', sans-serif !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-bg, .footer-bg {
    background: linear-gradient(90deg, #0065DB 0%, #00DFED 100%);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.footer-bg{
    min-height: 7rem;
}

.login-btn,
.signup-btn {
    font-family: 'Train One', sans-serif !important;
    padding: 4px 0px !important;

    display: flex;
    justify-content: center;
    align-items: center;


    min-width: 200px;
    min-height: 27px;

    border: 1.5px solid #F5FCFF !important;
    border-radius: 20px !important;
    color: white !important;

    background: #FF8A00 !important;
    font-weight: 400;
    font-size: 20px !important;
}


.logo-pro,
.logo-fesh {
    color: white;

    font-family: 'Train One', sans-serif !important;
    font-size: 55px;
}

.logo-pro {
    color: #ffa724
}

.writing-btn,
.tailored-btn,
.footer-btn {
    width: 200px;

    border-radius: 20px !important;

    background: white !important;
    font-weight: 500 !important;
    font-size: 20px !important;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);

}

.writing-btn {

    color: #006BB9 !important;

}

.tailored-btn {

    color: #FF8A00 !important;

}

#textArea {
    color: #002343;
    font-size: 20px;

    border: 3px solid #006BB9;
}

.footer-btn{
    width: 20rem;
    color: #002343;
}

.btn-submit{
    transition: .2s ease-in-out !important;
    transition-property: transform !important;
}

.btn-submit:hover{
    transform: scale(1.1);
}

.btn-submit:active {
    transform: scale(1);
}

.disabled{
    color: #72727267 !important;
    border-color: #9c9c9c !important;
    background-color: #c2c2c26c !important;
}

.auth-bg{

        min-height: 100vh;
    
        background: linear-gradient(105.98deg, #00D7F4 -4.14%, #009CF4 40.44%, #00234A 100.26%);
    
    
}